<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Genre Database</title>
</head>
<body style="background-color: #423f3f">

<!--/*@thymesVar id="genre" type="com.example.netcracker_lab_2.domain.Genre"*/-->
<table class="table table-hover ">
    <thead class="thead-inverse">
    <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tr style="font-size: large" th:each="genre: ${genres}">
        <td><a style="color: white" th:text="${genre.name}">Genre name</a></td>
        <td><a style="color: white" th:href="@{/genre/{id}/update/(id=${genre.id})}">Update</a></td>
        <td><a style="color: white" th:href="@{/genre/{id}/delete/(id=${genre.id})}">Delete</a></td>

    </tr>

</table>
<br/>
<hr/>
<a href="new/" style="box-shadow:inset 0px 34px 0px -15px #1c1c1c;
	background:linear-gradient(to bottom, #423f3f 5%, #080100 100%);
	background-color:#423f3f;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d; ">Create (Add) new </a>


</body>
</html>