<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New genre</title>
</head>
<body style="background-color: #423f3f">

<!--/*@thymesVar id="genre" type="com.example.netcracker_lab_2.commands.GenreCommand"*/-->
<form th:action="@{/genre/saveOrUpdate/}" th:method="POST" th:object="${genre}">

    <label for="name" style="color: white">Enter name of Genre: </label>
    <input th:field="*{id}" type="hidden"/>
    <input id="name" style="border-radius: 9px; " th:field="*{name}" type="text"/>
    <br/>
    <br/>


    <input style="box-shadow:inset 0px 34px 0px -15px #1c1c1c;
	background:linear-gradient(to bottom, #423f3f 5%, #080100 100%);
	background-color:#423f3f;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d; " type="submit" value="Submit!"/>
</form>

</body>
</html>