<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Track Library</title>
</head>
<body style="background-color: #423f3f">

<form th:action="@{/track/}">
    <input style="box-shadow:inset 0px 34px 0px -15px #1c1c1c;
	background:linear-gradient(to bottom, #423f3f 5%, #080100 100%);
	background-color:#423f3f;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d; " type="submit" value="Tracks"/>
</form>

<br/>
<hr/>

<form th:action="@{/genre/}">
    <input style="box-shadow:inset 0px 34px 0px -15px #1c1c1c;
	background:linear-gradient(to bottom, #423f3f 5%, #080100 100%);
	background-color:#423f3f;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d; " type="submit" value="Genres"/>
</form>

</body>
</html>