<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Track Database</title>

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <!-- Latest compiled and minified JavaScript -->
    <script crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body style="background-color: #423f3f">

<!--/*@thymesVar id="genre" type="com.example.track_library.domain.Track"*/-->
<table class="table table-hover ">
    <thead class="thead-inverse">
    <tr>
        <th style="color: green">Name</th>
        <th style="color: green">Author</th>
        <th style="color: green">Album</th>
        <th style="color: green">Duration</th>
        <th style="color: green">Genre</th>
        <th style="color: green">Update</th>
        <th style="color: green">Delete</th>
    </tr>
    </thead>
    <tr style="font-size: large" th:each="track: ${tracks}">
        <td><a style="color: white" th:text="${track.name}">Track name</a></td>
        <td><a style="color: white" th:text="${track.author}">Track author</a></td>
        <td><a style="color: white" th:text="${track.album}">Track album</a></td>
        <td><a style="color: white" th:text="${track.duration}">Track duration</a></td>
        <td><a style="color: white" th:text="${track.genre.name}">Track genre</a></td>

        <td><a style="color: white" th:href="@{/track/{id}/update/(id=${track.id})}">Update</a></td>
        <td><a style="color: white" th:href="@{/track/{id}/delete/(id=${track.id})}">Delete</a></td>

    </tr>

</table>
<br/>
<hr/>
<a href="new/" style="box-shadow:inset 0px 34px 0px -15px #1c1c1c;
	background:linear-gradient(to bottom, #423f3f 5%, #080100 100%);
	background-color:#423f3f;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #7a2a1d; ">Create (Add) new </a>


</body>
</html>